MAINICON ICON "KinectCapture.ico"
1 VERSIONINFO
FILEVERSION     0,3,3,0
PRODUCTVERSION  0,3,3,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Sk. Mohammadul Haque"
      VALUE "FileDescription", "KinectCapture"
      VALUE "FileVersion", "0.3.3"
      VALUE "InternalName", "KinectCapture"
      VALUE "LegalCopyright", "Sk.Mohammadul Haque"
      VALUE "OriginalFilename", "kinectcapture.exe"
      VALUE "ProductName", "KinectCapture"
      VALUE "ProductVersion", "0.3.3"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
